<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="signupForm">
    
    <ion-item>
      <ion-label>First Name</ion-label>
      <ion-input formControlName="firstNameFormControl"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Last Name</ion-label>
      <ion-input formControlName="lastNameFormControl"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input formControlName="emailFormControl"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Zip Code</ion-label>
      <ion-input formControlName="locationFormControl"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input formControlName="passwordFormControl" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Confirm Password</ion-label>
      <ion-input formControlName="confirmPasswordFormControl" type="password"></ion-input>
    </ion-item>

    <ion-button (click)="submit()">Submit</ion-button>
  </form>
</ion-content>
