.heart-icon{
    color: red;
    height: 100%;
    width: 100px;
}

.like-button{
    height: 100%;
}

.nav-button{
    margin-top: 30%;
    height: 50%;
}

.buttons{
    height: 20%;
}

.pet-card{
    height: 75%
}