<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm">
    
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input formControlName="usernameFormControl"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input formControlName="passwordFormControl" type="password"></ion-input>
    </ion-item>

    <ion-button (click)="submit()">Submit</ion-button>
    <ion-button fill="clear" [routerLink]="['/signup']">Sign Up</ion-button>
  </form>

  <ion-button fill="clear" [routerLink]="['/forgot-password']">Forgot Password</ion-button>


</ion-content>
