
<ion-content padding>
  
  <ion-row text-center>
      <ion-col>
        <img src="../../../assets/logo.png">
        <h1> Shelter Connect </h1>
      </ion-col>
  </ion-row>

  <ion-row text-center class="ion-padding">
    <ion-col>
      <form [formGroup]="loginForm">
        <ion-item class="ion-margin">
          <ion-label>Username</ion-label>
          <ion-input formControlName="usernameFormControl"></ion-input>
        </ion-item>

        <ion-item class="ion-margin">
          <ion-label>Password</ion-label>
          <ion-input formControlName="passwordFormControl" type="password"></ion-input>
        </ion-item>

        <ion-row text-center>
          <ion-col class="error">
            {{ formError }}
          </ion-col>
        </ion-row>

      <ion-row class="ion-padding-top" text-center>
        <ion-col>
          <ion-button expand="block" (click)="submit()" [disabled]="!loginForm.valid">Log In</ion-button>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col>
          <ion-button expand="block" fill="clear" [routerLink]="['/signup']">Sign Up</ion-button>
        </ion-col>
      </ion-row>
      </form>

    </ion-col>
  </ion-row>






</ion-content>
